<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Combo Box</title>

    <style>
      div {
        margin: 10px;
        font-size: 20px;
        margin-bottom: 30px;
        background-color: aqua;
      }

      label {
        font-size: 25px;
      }
    </style>
  </head>
  <body class="body">
    <div class="gender">
      <label for="gender">Gender:</label>
      <%-data1%>
    </div>

    <div class="lang">
      <label for="lang">Language:</label>
      <%-data2%>
    </div>

    <div class="Course">
      <label for="Course">Course:</label>
      <%-data3%>
    </div>

    <div class="University">
      <label for="university">University:</label>
      <%-data4%>
    </div>

    <div class="Subject">
      <label for="Subject">Subject:</label>
      <%-data5%>
    </div>

    <div class="relation">
      <label for="relation">Relation:</label>
      <%-data6%>
    </div>

    <div class="Department">
      <label for="Department">Department:</label>
      <%-data7%>
    </div>

    <div class="Result">
      <label for="Result">Result:</label>
      <%-data8%>
    </div>

    <div class="Category">
      <label for="category">Category:</label>
      <%-data9%>
    </div>
  </body>
</html>
