<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
     body{
        background-color: black;
        color: white;
     }
     #table{
        margin-bottom: 10px;
     }
        
     #addrow{
            border: 2px solid black;
            background-color: gold;
            margin-top: 10px;
            color: black;
            border-radius: 7px;
            
        }
        #addall{
            border: 2px solid red;
            background-color: bisque;
            margin-top: 15px;
            border-radius: 7px;
        }
       
        span#addall:hover{
           background-color: rgb(224, 156, 9);
        }
        #delete{
            border: 2px solid black;
            border-radius: 5px;
            background-color: rgb(209, 54, 54);
        }

        #save{
            border: 2px solid black;
            border-radius: 5px;
            background-color: darkgray;
        }
        span#save:hover{
            background-color: aquamarine;
        }

        span#delete:hover{
            background-color: rgb(80, 204, 80);
        }
    </style>
</head>
<body>
    <form action="insert_exel" method="post">

        <table  border="1" align="center" id="table" style="border-collapse: collapse;" >
     
<% var jay;%>

            <tr>
                <td>id</td>
                <td>fname</td>
                <td>lname</td>
                <td>phone Number</td> 
                <td>city</td>
                <td>email</td>
                <td>save</td>
                <td>delete</td>
            </tr>
           <% for(let j=0;j<result.length;j++){%>
            <tr id="del<%= j+1%>">
                <td><input type="text" id="id<%= j+1%>" value="<%= result[j].candidate_id%>"></td>
                <td><input type="text" id="fname<%= j+1%>" value="<%= result[j].firstname%>"></td>
                <td><input type="text" id="lname<%= j+1%>" value="<%= result[j].lastname%>"></td>
                <td><input type="text" id="phone<%= j+1%>" value="<%= result[j].phone_number%>"></td>
                <td><input type="text" id="city<%= j+1%>" value="<%= result[j].city%>"></td>
                <td><input type="text" id="email<%= j+1%>" value="<%= result[j].email%>"></td>
                <td><span onclick="update(`<%= j+1%>`)" id="save"> Save </span></td>  
                <td><span onclick="delete_1(`<%= j+1%>`)" id="delete"> Delete </span></td> 
                
            </tr>
            <% jay = result[j].id%>
        <%}%>
            
        </table>
       <center> <span onclick="ADD()" id="addrow"> ADD ROW</span></center><br>
       <center> <span onclick="ADDALL(`<%= jay%>`)" id="addall"> SAVE ALL</span></center>

       
    </form>

    <script>  
    var flagid=`<%= jay%>`;
    var  s=parseInt(flagid);
    var sanj; 

// ADD ROW

       function ADD(){
              s+=1;
                  var insert = document.getElementById("table");
            var jay = insert.insertRow(-1);
            jay.innerHTML = `
            <td> <input type="text" id="fname${s}"></td>
                <td><input type="text" id="lname${s}" value=""></td>
                <td><input type="text" id="phone${s}" value=""></td>
                <td><input type="text" id="city${s}" value=""></td>
                <td><input type="text" id="email${s}" value=""></td>
                <td><span onclick="inserteds1(${s})" id="save"> save </span></td>`
            
sanj=s;
        }


// SAVE single record


        async function inserteds1(id) {
           
            var phone = document.getElementById(`phone${id}`).value;
            var f_name = document.getElementById(`fname${id}`).value;
            var l_name = document.getElementById(`lname${id}`).value;
            var c_city = document.getElementById(`city${id}`).value;
            var email = document.getElementById(`email${id}`).value;
            //  console.log(l_name)
            //  console.log(phone)
                const ans = await fetch(`/single_insert_exel?insert=${id}&phone=${phone}&fname=${f_name}&lname=${l_name}&ccity=${c_city}&semail=${email}`);
            
        }
// UPDATE Record 

        async function update(id) {
            console.log(id)  
            var idd = document.getElementById(`id${id}`).value;   
            var phone = document.getElementById(`phone${id}`).value;
            var f_name = document.getElementById(`fname${id}`).value;
            var l_name = document.getElementById(`lname${id}`).value;
            var c_city = document.getElementById(`city${id}`).value;
            var email = document.getElementById(`email${id}`).value;
            
                const ans = await fetch(`/update?phone=${phone}&fname=${f_name}&lname=${l_name}&ccity=${c_city}&semail=${email}&idd=${idd}`);
            
        }

// DELETE RECORD


        async function delete_1(id) {
             console.log(id)  
            var idd = document.getElementById(`id${id}`).value;   
     
            // var phone = document.getElementById(`phone${id}`).value;
            // var f_name = document.getElementById(`fname${id}`).value;
            // var l_name = document.getElementById(`lname${id}`).value;
            // var c_city = document.getElementById(`city${id}`).value;
            // var email = document.getElementById(`email${id}`).value;
            if(confirm(`Dlelete Record ${idd} `) ){
                document.getElementById(`del${id}`).style.display = 'none'
                const ans = await fetch(`delete?idd=${idd}`); 
            }
        }

// ADD ALL RECORD

        async function ADDALL(id) {
            //  console.log("Start",s+1);
            //  console.log("end",sanj+1);
             let j=parseInt(id)+1;
            for(j;j<=sanj;j++){
                 
            var phone = document.getElementById(`phone${j}`).value;
            var f_name = document.getElementById(`fname${j}`).value;
            var l_name = document.getElementById(`lname${j}`).value;
            var c_city = document.getElementById(`city${j}`).value;
            var email = document.getElementById(`email${j}`).value;
 
            await fetch(`/single_insert_exel?phone=${phone}&fname=${f_name}&lname=${l_name}&ccity=${c_city}&semail=${email}`); 
            
        }
    }
       
    </script>
</body>
</html>